<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Behandling</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>

<div class="container">
    <h1>Behandling detaljer<i class = "fas fa-cut"></i></h1>
    <form class="form-group" th:method="post" th:action="@{/edittreatment}" th:object ="${treatments}">
        <label for="id">ID</label>
        <input class="form-control" id="id" type="number" th:field="${treatments.productId}" readonly/>

        <label for="name">Navn</label>
        <input class="form-control" id="name" type="text" th:field="${treatments.productName}"/>

        <label for="price">Pris</label>
        <input class="form-control" id="price" type="text" th:field="${treatments.productPrice}"/>

        <label for="time">Varighed</label>
        <input class="form-control" id="time" type="text" th:field="${treatments.treatmentDuration}"/>

        <label for="desc">Beskrivelse</label>
        <input class="form-control" id="desc" type="text" th:field="${treatments.productDescription}"/>

        <div class="form-check">
            <input class="form-check-input" id="active" type="checkbox" th:field="${treatments.productActive}"/>
            <label class="form-check-label" for="active">Aktiv</label>
        </div>
        <input class="btn btn-dark" type="submit" value="Gem ændringer"/>
    </form>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>