<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Behandling</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>

<div class="container">
    <h1>Details</h1>
    <form class="form-group" th:method="post" th:action="@{/edittreatment}" th:object ="${treatments}">
        <label for="id">ID</label>
        <input class="form-control" id="id" type="number" th:field="${treatments.productId}" readonly/>

        <label for="name">Navn</label>
        <input class="form-control" id="name" type="text" th:field="${treatments.productName}"/>

        <label for="price">Pris</label>
        <input class="form-control" id="price" type="text" th:field="${treatments.productPrice}"/>

        <label for="time">Varighed</label>
        <input class="form-control" id="time" type="text" th:field="${treatments.treatmentDuration}"/>

        <label for="desc">Beskrivelse</label>
        <input class="form-control" id="desc" type="text" th:field="${treatments.productDescription}"/>

        <label for="active">Aktiv</label>
        <input class="form-check-input" id="active" type="checkbox" th:field="${treatments.productActive}"/>

        <input class="btn btn-primary btn-danger" type="submit" value="edit"/>
    </form>
</div>

<div th:if="${showconfirmation}">
    <div th:include="fragments/confirmation :: modal"></div>
    <div th:include="fragments/confirmation :: script"></div>
</div>

</body>
</html>