body, html {
    height: 100%;
}

.backgroundimage {
    /* The image used */
    background: url("https://cdn.pixabay.com/photo/2015/10/26/20/46/haircut-1007891_1280.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingpage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    border: 3px solid white;
    padding: 10px;
}

.controlpaneltitle {
    display: block;
    text-align: center;
    margin: 50px auto;
}

.boxcontainer {
    position: relative;
    width: 930px;
    height: 300px;
    margin: 50px auto;
}

.boxcontainer .box {
    position: relative;
    width: calc(300px - 30px);
    height: calc(200px - 30px);
    background: #555a5c;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.boxcontainer .box .boxicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: #292b2c;
    z-index: 1;
}

.boxcontainer .box:hover .boxicon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.boxcontainer .box .boxicon .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: white;
}

.boxcontainer .box:hover .boxicon .fas {
    font-size: 40px;
}

.boxcontainer .box:hover .boxicon .fas .png {
    padding: 20px;
}

.boxcontainer .box .boxcontent {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}

.boxcontainer .box:hover .boxcontent {
    top: 100px;
}

.boxcontainer .box .boxcontent h3 {
    margin: 0 0 10px;
    padding: 0;
    color: white;
    font-size: 24px;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #292b2c;
    transisiton: .3s;
}

.input-div:after {
    right: 50%;
}

.input-div:before {
    left: 50%;
}

.input-div.focus .i i {
    color: #292b2c;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two, .input-div.three, .input-div.four, .input-div.five {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #d9d9d9;
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 19px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.option {
    display: inline-block;
    padding-right: 10px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#map {
    height: 500px;
    width: 1080px;
}