<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Salon-Tina</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div th:if="${showconfirmation}" th:class="${alert}" role="alert">
        <span th:text="${confirmationtext}"></span>
    </div>
    <div class = "controlpaneltitle">
        <h1>Vælg hvilken kunde du vil rette
            <i class = "fas fa-user"></i>
        </h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Fulde navn</th>
                    <th>Telefon nr.</th>
                    <th>E-Mail</th>
                    <th>Rediger</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.userPhonenumber}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td>
                        <a th:href="@{'/edituserhistory/' + ${user.userId}}">
                            <i class="fas fa-sliders-h" data-toggle="tooltip" title="Rediger" style="color: black"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div th:include="fragments/footer :: footer"></div>
</body>
</html>