<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger oplysninger</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div class="container edituser">
        <div class = "controlpaneltitle">
            <h1>Rediger dine oplysninger
                <i class = "fas fa-user"></i>
            </h1>
        </div>
        <form class="form-group" th:method="post" th:action="@{/editUser}">
            <label class="label">Navn og Efternavn</label>
            <input class="form-control" type="text" pattern="[A-Z/a-zæøåÆØÅ/s + A-Za-zæøåÆØÅ]+$" th:field="${user.username}"
                   oninvalid="setCustomValidity('Indtast dit navn med bogstaver')"
                   oninput="setCustomValidity('')" required>

            <label class="label">Telefon nummer</label>
            <input class="form-control" type="number" pattern="[0-9]{8}" th:field="${user.userPhonenumber}"
                   oninvalid="setCustomValidity('Indtast et gyldigt telefon nummer')"
                   oninput="setCustomValidity('')" required>

            <label class="label">Email</label>
            <input class="form-control" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" th:field="${user.userEmail}"
                   oninvalid="setCustomValidity('Indtast en gyldig e-mail adresse')"
                   oninput="setCustomValidity('')" required>

            <label class="label">Nye kodeord</label>
            <input class="form-control" type="password" th:field="${user.userPassword}">
            <br>
            <!--HIDDEN INPUTS-->
            <input type="hidden" th:field="${user.userId}"/>

            <input class="btn btn-dark option" type="submit" value="Gem ændringer">
        </form>

        <div class="option">
            <form method="post" th:action="@{/subscribeNewsletter}" >
                <input class="btn btn-dark" type="submit" value="Tilmeld nyhedsbrev">
                <input type="hidden" th:field="${user.userId}">
            </form>
        </div>

        <div class="option">
            <form method="post" th:action="@{/unsubscribeNewsletter}" >
                <input class="btn btn-dark" type="submit" value="Afmeld nyhedsbrev">
                <input type="hidden" th:field="${user.userId}">
            </form>
        </div>

        <button class="btn btn-dark" data-toggle="modal" data-target="#deletemodal">
            <i class = "fas fa-trash-alt" data-toggle="tooltip" title = "Slet din profil" style="cursor: pointer;"></i>
            <!--Modal Content-->
            <div class="modal fade" id="deletemodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 style="color: black">Er du sikker på du vil slette din bruger? <span th:text="${user.username}"></span></h3>
                        </div>
                        <div class="modal-body">
                            <form th:method="post" th:action="@{/deleteuser}" style="display: inline-block">
                                <input type="hidden" th:field="${user.userId}">
                                <input type="submit" class="btn btn-dark" value="Ja">
                            </form>
                            <a class="btn btn-dark" data-dismiss="modal" style="color: white">Nej</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div th:include="fragments/footer :: footer"></div>
</body>
</html>