<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Min Profil</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
<div class = "controlpaneltitle">
    <h1>Min profil
        <i class = "fas fa-user"></i>
    </h1>
</div>
<div class = "container boxcontainer">
    <a th:href="@{/mybookings}" class = "box">
        <div class = "boxicon"><i class = "fas fa-book"></i></div>
        <div class = "boxcontent">
            <h3>Mine bookings</h3>
        </div>
    </a>
    <a th:href="@{/editUser}" class = "box">
        <div class = "boxicon"><i class = "fas fa-user-edit"></i></div>
        <div class = "boxcontent">
            <h3>Rediger oplysninger</h3>
        </div>
    </a>
</div>
</body>
</html>