<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Newsletter</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div class="container">
        <form th:method="Post" th:action="@{/sendnewsletter}" th:object="${newsletter}">
            <textarea class="form-control" th:field="${newsletter.text}" required></textarea>
            <input th:field="${newsletter.testNumber}" hidden>
            <input class="btn btn-primary" type="submit" value="Send newsletter"/>
        </form>

        <form th:method="Post" th:action="@{/sendtestnewsletter}" th:object="${newsletter}">
            <textarea class="form-control" th:field="${newsletter.text}" required></textarea>
            <input type="text" class="form-control" th:field="${newsletter.testNumber}">
            <input class="btn btn-primary" type="submit" value="Send test newsletter"/>
        </form>
    </div>

    <div th:if="${showconfirmation}">
        <div th:include="fragments/confirmation :: modal"></div>
        <div th:include="fragments/confirmation :: script"></div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</body>
</html>