<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reminder</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div class="container">
        <h1 class="controlpaneltitle">Send reminder
            <i class="fas fa-bell"></i>
        </h1>
        <div class="buttons text-center">
            <a class="btn btn-dark" th:href="@{/sendreminder}" >Send behandlingsreminder</a>
            <br>
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-dark" th:href="@{/startAutoReminder}" >Start Automatisk Reminder</a>
                    <br>
                    <a class="btn btn-dark" th:href="@{/stopAutoReminder}" >Stop Automatisk Reminder</a>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${showconfirmation}">
        <div th:include="fragments/confirmation :: modal"></div>
        <div th:include="fragments/confirmation :: script"></div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</body>
</html>