<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj ferie</title>

    <div th:include="fragments/header :: navbar"></div>
    <div th:include="fragments/header :: scripts"></div>
</head>
<body>
    <div class="container">
        <div th:if="${showconfirmation}" th:class="${alert}" role="alert">
            <span th:text="${confirmationtext}"></span>
        </div>
        <div class="controlpaneltitle">
            <h1>Tilføj ferie
                <i class = "fas fa-plane-departure"></i>
            </h1>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form th:method="Post" th:object="${choosedate}" th:action="@{/addvacation}">
                    <div class="form-group">
                        <label for="vacationinput">Ferie dato</label>
                        <input id="vacationinput" type="date" class="form-control" aria-describedby="vacationinputHelp" th:field="${choosedate.date}">
                    </div>
                    <input class="btn btn-dark" type="submit" value="Indsæt ferie"/>
                </form>
            </div>
            <div class="col-4"></div>
        </div>

        <br>
        <br>
        <br>
    </div>
</body>
    <div th:include="fragments/footer :: footer"></div>
</html>