<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrolpanel</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div class = "controlpaneltitle">
        <h1>Kontrolpanel
            <i class = "fas fa-user-shield"></i>
        </h1>
    </div>
    <div class = "container boxcontainer">
        <a href="#" class = "box">
            <div class = "boxicon"><i class = "fas fa-book"></i></div>
            <div class = "boxcontent">
                <h3>Bookings</h3>
            </div>
        </a>
        <a th:href="@{/addvacation}" class = "box">
            <div class = "boxicon"><i class = "fas fa-plane-departure"></i></div>
            <div class = "boxcontent">
                <h3>Indsæt ferie</h3>
            </div>
        </a>
        <a th:href="@{/sendbesked}" class = "box">
            <div class = "boxicon"><i class = "fas fa-bell"></i></div>
            <div class = "boxcontent">
                <h3>Send nyhedsbrev eller reminder</h3>
            </div>
        </a>
        <a th:href="@{/userlist}" class = "box">
            <div class = "boxicon"><i class = "fas fa-user-edit"></i></div>
            <div class = "boxcontent">
                <h3>Rediger kundehistorik</h3>
            </div>
        </a>
        <a th:href="@{/createproduct}" class = "box">
            <div class = "boxicon"><i class = "fas fa-plus-circle"></i></div>
            <div class = "boxcontent">
                <h3>Opret produkt</h3>
            </div>
        </a>
        <a th:href="@{/editproduct}" class = "box">
            <div class = "boxicon"><i class = "fas fa-edit"></i></div>
            <div class = "boxcontent">
                <h3>Rediger produkt</h3>
            </div>
        </a>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</body>
</html>