<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/stylesheet.css" th:href = "@{/stylesheet.css}"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="https://kit.fontawesome.com/af932a1361.js" crossorigin="anonymous"></script>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
<div class = "controlpaneltitle">
    <h1>Kontakt
        <i class = "fas fa-address-book"></i>
    </h1>
</div>
</body>
</html>