<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret behandling</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
<div class = "controlpaneltitle">
    <h1>Opret ny behandling
        <i class = "fas fa-cut"></i>
    </h1>
</div>
<div class="container">
    <form class="form-group" th:method="post" th:action="@{/createTreatment}">
        <div>Navn</div>
        <input class="form-control" type="text" th:field="${treatment.productName}" placeholder="Behandlings Navn" required/>
        <br>
        <div>Beskrivelse</div>
        <input class="form-control" type="text" th:field="${treatment.productPrice}" placeholder="Pris" required/>
        <br>
        <div>Beskrivelse</div>
        <input class="form-control" type="text" th:field="${treatment.productDescription}" placeholder="Behandlings Beskrivelse" required/>
        <br>
        <div>Tid</div>
        <input class="form-control" type="text" th:field="${treatment.treatmentDuration}" placeholder="Behandlings tid (i minutter)" required/>
        <br>
        <input class="btn btn-dark" type="submit" value="Opret"/>
    </form>
</div>

</body>
</html>