<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret produkt</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
<div class = "controlpaneltitle">
    <h1>Opret produkt
        <i class = "fas fa-flask"></i>
    </h1>
</div>
<div class="container">
    <form class="form-group" th:method="post" th:action="@{/createItem}">
        <div>Navn</div>
        <input class="form-control" type="text" th:field="${item.productName}" placeholder="Produkt Navn" required/>
        <br>
        <div>Pris</div>
        <input class="form-control" type="text" th:field="${item.productPrice}" placeholder="Pris" required/>
        <br>
        <div>Beskrivelse</div>
        <input class="form-control" type="text" th:field="${item.productDescription}" placeholder="Produkt Beskrivelse" required/>
        <br>
        <div>Antal</div>
        <input class="form-control" type="text" th:field="${item.itemQuantity}" placeholder="Antal" required/>
        <br>
        <input class="btn btn-dark" type="submit" value="Opret"/>
    </form>
</div>

<div th:if="${showconfirmation}">
    <div th:include="fragments/confirmation :: modal"></div>
    <div th:include="fragments/confirmation :: script"></div>
</div>

</body>
</html>