<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Produkt</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</head>
<body>
<div th:include = "fragments/header :: navbar"></div>
<a class="btn btn-success" th:href="${'/createtreatment'}">Opret behandling</a>
<a class="btn btn-success" th:href="${'/createitem'}">Opret Produkt</a>

<div th:if="${showconfirmation}">
    <div th:include="fragments/confirmation :: modal"></div>
    <div th:include="fragments/confirmation :: script"></div>
</div>

</body>
</html>