<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Salon-tina</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <form class="form-group" th:method="post" th:action="@{/edituserhistory}" th:object="${user}">
            <input type="hidden" th:field="${user.userId}">
            <label for="username">Kundenavn</label>
            <input class="form-control" id="username" type="text" readonly th:field="${user.username}">

            <label for="phoneNumber">Telefon nr.</label>
            <input class="form-control" id="phoneNumber" type="text" readonly th:field="${user.userPhonenumber}">

            <label for="email">E-Mail</label>
            <input class="form-control" id="email" type="text" readonly th:field="${user.userEmail}">

            <label for="pref">Præferencer</label>
            <textarea class="form-control" rows = "10" cols = "50" id="pref" type="text" th:field="${user.userPreference}"></textarea>
            <br>
            <input class="btn btn-dark" value="Gem ændringer" type="submit">
        </form>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Dato</th>
                        <th>Kommentar</th>
                        <th>Behandlinger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${user.userHistory}">
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.bookingComment}"></td>
                        <td th:each="treatment : ${booking.bookingTreatmentList}">
                            <span th:text="${treatment.productName}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>