<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Item</title>
</head>
<body>

<div class="container">
    <h1>Details</h1>
    <form th:method="post" th:action="@{/editItem}" th:object ="${items}">
        <input type="number" th:field="${items.productId}" readonly/>
        <br>
        <div>Navn: </div>
        <input type="text" th:field="${items.productName}"/>
        <br>
        <div>Pris:</div>
        <input type="text" th:field="${items.productPrice}"/>
        <br>
        <div>Antal på lager:</div>
        <input type="text" th:field="${items.itemQuantity}"/>
        <br>
        <div>Beskrivelse</div>
        <input type="text" th:field="${items.productDescription}"/>
        <br>
        <div>Aktiv:</div>
        <input type="text" th:field="${items.productActive}"/>
        <br>
        <input class="btn btn-primary btn-danger" type="submit" value="edit"/>
    </form>
</div>

</body>
</html>