<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <div class="container">
        <form th:method="Post" th:action="@{/login}" th:object="${loginToken}">
            <input type="text" class="form-control" th:field="${loginToken.loginTokenUsername}" required>
            <input type="password" class="form-control" th:field="${loginToken.loginTokenPassword}" required>
            <input class="btn btn-primary" type="submit" value="Login"/>
        </form>
    </div>
</body>
</html>