<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reminder</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
<div class="container">
    <button class="btn btn-primary" href="/sendreminder" >Send behandlingsreminder</button>
</div>

<div th:if="${showconfirmation}">
    <div th:include="fragments/confirmation :: modal"></div>
    <div th:include="fragments/confirmation :: script"></div>
</div>

</body>
</html>