<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vælg treatment</title>
    <div th:include="fragments/header :: scripts"></div>
</head>
<div th:include = "fragments/header :: navbar"></div>
<body>
    <p> Her kan du vælge behandlinger</p>

    <!--Henter Liste med 8 bookings og indexere dem på siden-->
    <tr>
        <td th:each="bookings: ${bookingList}">
            <span th:if="${bookings.bookingTime == '8,50'}">Optaget</span>
            <div th:unless="${bookings.bookingTime == '8:00'}">
                <form method="Post" th:action="@{/vælgtreatment}" th:object="${bookings}">
                    <input type="hidden" th:field="${bookings.bookingTime}"/>
                    <input class="btn btn-dark" type="submit" value="Vælg tid">
                </form>
            </div>
        </td>

    </tr>
</body>
</html>